body {
    background: fixed;
    background-image: url("images/bg.png");
    padding-left: 20%;
    padding-right: 20%;
}
h1 {
    font-family: Lobster Two, cursive;
    font-size: 600%;
    color: #003366;
}
p {
    font-size: 150%;
    color: #003366;
    font-family: serif;
}
.bar {
    border-bottom: solid;
    border-top: solid;
    border-color: #000000;
    background-color: #081c28;
    padding-bottom: 1%;
    padding-right: 5%;
}
.myButtons {
    margin-top: 5%;
    font-family: Amatic SC, cursive;
    font-weight: bold;
    font-size: 200%;
    background-color: #ffffff;
    color: #003366;
}
.botButtons {
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Amatic SC, cursive;
    font-weight: bold;
    font-size: 200%;
    background-color: #ffffff;
    color: #003366;
    font-size: 300%;
}
.divWell1 {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    /*background-color: #c0c0c0;*/
    background-image: url("images/well.png");
    border-color: #000000;
    border-width: medium;
}
.divWell2 {
    background-image: url("images/well.png");
    border-color: #000000;
    border-width: medium;
    padding-bottom: 10%;
}
.divWell3 {
  background-image: url("images/well.png");
  border-color: #000000;
  border-width: medium;
  padding-bottom: -20%;

}
.span1 {
    color: #003366;
    font-family: serif;
    font-style: bold;
    font-size: 130%;
    padding-left: 9%;
}
.img01 {
    border: 3px solid black;
    margin-left: 55%;
    margin-top: 10%;
}
.imgSet {
    /* Portfolio images */
    margin-left: -25%;
    margin-right: -25%;
}
.imgBot {
    padding-top: 6%;
}
.p2 {
  font-size: 85%;
}
.logo {
  /*padding-right: 300%;*/
  padding-top: 7.7%;
  width: 100%;
  margin: 0 auto;

}
